





<div id="accrodainpaymore">
    <div class="card">
      <div class="card-header-0" id="heading-30-support-One-pay">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-30-support-One-pay" aria-expanded="true" aria-controls="collapse-30-support-One-pay">
            How do I configure and set up the camera for the first time?  {% render 'arrow-icon-support' %}
          </button>

      </div>
  
      <div id="collapse-30-support-One-pay" class="collapse show" aria-labelledby="heading-30-support-One-pay" data-parent="#accrodainpaymore">
        <div class="card-body text-left">
            Please download the Icam+ or Ubox app and register for an account before you can configure the camera. Follow the camera's installation wizard, voice prompts, or the step-by-step guide on the app interface for network configuration and camera settings.
         </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-30-support-two-One-pay">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-30-two-support-One-pay" aria-expanded="true" aria-controls="collapse-30-two-support-One-pay">
            I'm setting up my camera for the first time. It shuts off when I unplug the charger, even if I charge it  {% render 'arrow-icon-support' %}
          </button>

      </div>
  
      <div id="collapse-30-two-support-One-pay" class="collapse show" aria-labelledby="heading-30-support-two-One-pay" data-parent="#accrodainpaymore">
        <div class="card-body text-left">
            	Please make sure the clear films are taken out of the batteries before charging
         </div>
      </div>
    </div>

  
</div>


  <div id="accrodainpaymore">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accrodainpaymore">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accrodainpaymore">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accrodainpaymore">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>