

<div id="accordion">
    <div class="card">
      <div class="card-header-0" id="headingOne">
        <h4 class="mb-0 accordain-heading" >
            Wired Cameras
        </h4>
          <button class="btn btn-link accrodian-tab-heading" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Wired Camera X3

             {% render 'arrow-icon-support' %}
          </button>
    
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
             {% render 'wiredcamerax3' %}
        </div>
      </div>
    </div>

     {% comment %} singel card  {% endcomment %}
    <div class="card">
      <div class="card-header-0" id="headingTwo">
    

            <h4 class="mb-0 accordain-heading" >
                Wireless Cameras
            </h4>
          <button class="btn btn-link accrodian-tab-heading"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Wireless Camera V3   {% render 'arrow-icon-support' %}
          </button>
 
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
           {% render 'wirelesscamerav3' %}
        </div>
      </div>
    </div>
     {% comment %} singel card  End {% endcomment %}
     {% comment %} singel card  {% endcomment %}
    <div class="card">
      <div class="card-header-0 m-0" id="headingTwo-01">
          <button class="btn btn-link accrodian-tab-heading collapsed"  data-toggle="collapse" data-target="#collapseTwo-01" aria-expanded="false" aria-controls="collapseTwo-01">
            Wireless Camera V3S   {% render 'arrow-icon-support' %}
          </button>
 
      </div>
      <div id="collapseTwo-01" class="collapse" aria-labelledby="headingTwo-01" data-parent="#accordion">
        <div class="card-body">
            {% render 'WirelessCameraV3S' %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0 m-0" id="headingTwo-01-two">
          <button class="btn btn-link accrodian-tab-heading collapsed"  data-toggle="collapse" data-target="#collapseTwo-01-two" aria-expanded="false" aria-controls="collapseTwo-01-two">
            WirelessCamera V4   {% render 'arrow-icon-support' %}
          </button>
 
      </div>
      <div id="collapseTwo-01-two" class="collapse" aria-labelledby="headingTwo-01-two" data-parent="#accordion">
        <div class="card-body">
            {% render 'WirelessCameraV4' %}
        </div>
      </div>
    </div>
     {% comment %} singel card  End {% endcomment %}

    <div class="card">
      <div class="card-header-0"  id="headingThree">
        <h4 class="mb-0 accordain-heading" >
            Commercial Cameras 
        </h4>
        <button class="btn btn-link accrodian-tab-heading collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Wireless Camera Q3 {% render 'arrow-icon-support' %}
          </button>
      
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
         ...
        </div>
      </div>
    </div>
  </div>