<div id="accortwo01dion">
    <div class="card">
      <div class="card-header-01" id="headingtwo01One">
 
  
        <button class="btn btn-link accrodian-tab-heading collapsed"  data-toggle="collapse" data-target="#collapsetwo01One" aria-expanded="true" aria-controls="collapsetwo01One">
            Download App {% render 'arrow-icon-support' %}
          </button>

      </div>
  
      <div id="collapsetwo01One" class="collapse show" aria-labelledby="headingtwo01One" data-parent="#accortwo01dion">
        <div class="card-body">
         <p>If you haven't downloaded iCSee yet, simply scan the QR code below to get started.</p>
           <img src="//premiuminvention.com/cdn/shop/files/image_1_e148b204-be94-4ea6-896b-a94e189c23c5.png?v=1697522231" alt="">
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-01" id="headingTwo0201">

  
        <button class="btn btn-link accrodian-tab-heading collapsed"  data-toggle="collapse" data-target="#collapseTwo002tab" aria-expanded="false" aria-controls="collapseTwo002tab">
            Update Regularly {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapseTwo002tab" class="collapse" aria-labelledby="headingTwo0201" data-parent="#accortwo01dion">
        <div class="card-body">
            The APP and product firmware are updated periodically. You can upgrade to the latest firmware online without prior notice. This manual is provided for reference only.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-01" id="headingtwo01Three">

    
        <button class="btn btn-link accrodian-tab-heading collapsed"  data-toggle="collapse" data-target="#collapsetwo00100Three" aria-expanded="false" aria-controls="collapsetwo00100Three">
            Password {% render 'arrow-icon-support' %}
          </button>
  
      </div>
      <div id="collapsetwo00100Three" class="collapse" aria-labelledby="headingtwo01Three" data-parent="#accortwo01dion">
        <div class="card-body">
            If you forget the device password, you can restore the camera to its factory settings by pressing and holding the Reset button. Once reset, you can set a new password.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-01" id="headingtwo012Three">

          
        <button class="btn btn-link accrodian-tab-heading collapsed"  data-toggle="collapse" data-target="#collapsetwo001002Three" aria-expanded="false" aria-controls="collapsetwo001002Three">
            Unlock the Power of Cloud Storage {% render 'arrow-icon-support' %}
          </button>
   
      </div>
      <div id="collapsetwo001002Three" class="collapse" aria-labelledby="headingtwo012Three" data-parent="#accortwo01dion">
        <div class="card-body">
            To activate cloud storage, click on the "cloud storage" or "cloud" icon in the device list interface . Then, follow the prompts on the app interface to explore and select from the available cloud storage packages.
        </div>
      </div>
    </div>
  </div>