





<div id="WirelesssupportCameraV3S">
    <div class="card">
      <div class="card-header-0" id="heading-300-One">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-300-One" aria-expanded="true" aria-controls="collapse-300-One">
            When will my order arrive?  {% render 'arrow-icon-support' %}
          </button>

      </div>
  
      <div id="collapse-300-One" class="collapse show" aria-labelledby="heading-300-One" data-parent="#WirelesssupportCameraV3S">
        <div class="card-body text-left">
            USA - 2 to 5 business days
     <br>
            Canada - 10 to 12 business days
            <br>
            Australia & New Zealand - 6 to 10 business days
            <br>
            Other countries - 10 to 20 business days
         </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-30-10-Two">

            <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-30-10-Two" aria-expanded="false" aria-controls="collapse-30-10-Two">
                How do I track my order? {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-30-10-Two" class="collapse" aria-labelledby="heading-30-10-Two" data-parent="#WirelesssupportCameraV3S">
        <div class="card-body text-left">
            Once your order has been processed <a href="https://premiuminvention.com/pages/track-your-order">Your Order page.</a>
     
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-31-01Three">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-31-01Three" aria-expanded="false" aria-controls="collapse-31-01Three">
            What countries do you ship to? {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-31-01Three" class="collapse" aria-labelledby="heading-31-01Three" data-parent="#WirelesssupportCameraV3S">
        <div class="card-body">
           <p class="w-100">We ship to the following countries:</p>

            <div class="ship-country-wrapper container">
            <div class="row">
              <p><br>Australia</p><p><br>Latvia</p><p><br>Austria</p><p><br>Lithuania</p><p><br>Belgium</p><p><br>Luxembourg</p><p><br>Brazil</p><p><br>Malaysia</p><p><br>Canada</p><p><br>Malta</p><p><br>Croatia</p><p><br>Mexico</p><p><br>Denmark</p><p><br>Netherlands</p><p><br>Estonia</p><p><br>New Zealand</p><p><br>Finland</p><p><br>NorwayPoland</p><p><br>France</p><p><br>Portugal</p><p><br>Germany</p><p><br>Russia</p><p><br>Gibraltar</p><p><br>Saudi Arabia</p><p><br>Great Britian</p><p><br>Singapore</p><p><br>Greece</p><p><br>Spain</p><p><br>Hong Kong</p><p><br>South Korea</p><p><br>Hungary</p><p><br>Sweden</p><p><br>Ireland</p><p><br>Switzerland</p><p><br>IsraelItaly</p><p><br>Thailand</p><p><br>Japan</p><p><br>Turkey</p><p></p><p><br> Ukraine</p><p><br> United Kingdom</p><p></p><p> <br> United States</p> 
            </div>
            </div>
        </div>
      </div>
    </div>
    {% comment %} <div class="card">
      <div class="card-header-0" id="heading-32-02Three">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-32-02Three" aria-expanded="false" aria-controls="collapse-32-02Three">
            Data Utilization and Usage {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-32-02Three" class="collapse" aria-labelledby="heading-32-02Three" data-parent="#WirelesssupportCameraV3S">
        <div class="card-body">
            Data is only required when you open the app to view your camera or past footages. <br>

            To view footage in SD, it uses 0.9-1.9MB per minute<br>
            
            To view footage in HD, it uses 1.9-3.8MB per minute<br>
            
            Therefore, if you plan to get 1G of data per month, you can watch approximately 350 minutes of HD definition.
            
            
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-3304-Three">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-3304-Three" aria-expanded="false" aria-controls="collapse-3304-Three">
            Manual Record {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-3304-Three" class="collapse" aria-labelledby="heading-3304-Three" data-parent="#WirelesssupportCameraV3S">
        <div class="card-body">
            The application enables manual video recording and one-tap photo capture.
            
            
        </div>
      </div>
    </div> {% endcomment %}
  </div>


  <style>body.template_contact .contact-forminner-main .contact__button button.button {

    font-size: 16px !important;
    box-shadow: none;
    border: 1px solid #006bb3;
}</style>