





<div id="accrodainpay">
    <div class="card">
      <div class="card-header-0" id="heading-30-One-pay">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-30-One-pay" aria-expanded="true" aria-controls="collapse-30-One-pay">
            Returning or exchanged items must meet the following criteria:  {% render 'arrow-icon-support' %}
          </button>

      </div>
  
      <div id="collapse-30-One-pay" class="collapse show" aria-labelledby="heading-30-One-pay" data-parent="#accrodainpay">
        <div class="card-body text-left">
            <ol class="d-inline-block">
               
                <li> They must be dispatched within 30 days of receiving your order.</li>
                <li>They must be sent in their original condition, including all tags and packaging.</li>
                <li>We strongly recommend using a tracked and insured shipping method for your own protection in case of loss or damage to the returning item(s).</li>
                These revisions make the instructions clearer and more grammatically accurate.
            </ol>
         </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-30-pay-1-Two">

            <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-30-pay-1-Two" aria-expanded="false" aria-controls="collapse-30-pay-1-Two">
                What is your refund policy? {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-30-pay-1-Two" class="collapse" aria-labelledby="heading-30-pay-1-Two" data-parent="#accrodainpay">
        <div class="card-body text-left">
           
            <p> <b>                           Refund policy</b> </p>
            30 Days Refund policyWe at Premium Invention want you to be fully satisfied with every item that you purchase. If you aren’t satisfied, you may return the item for a full refund, within 30 days of the delivery of your purchase. If 30 days have passed, we can always help, fix or even replace your product, under our warranty terms.We recommend you carefully try out your product before fully opening the rest of the packaging & being careful not to damage or leave any permanent stains.To be eligible for a refund, your item must be returned in its original packaging, in good conditions, along with a copy of the invoice. Once the products are received, it usually takes 4-7 business days for our team to inspect, approve and email you your refund.
            

            <p> <b>                           Partial Refunds</b> </p>
            There are certain situations where only partial refunds are granted (if applicable)Any item not in its original condition, is damaged or missing parts for reasons not due to our error
            
      
            <p> <b>               Late or missing refunds (if applicable)</b> </p>
            Please note that all refunds usually take 2-7 business days to appear on your account.If you haven’t received a refund yet, first check your bank account again. Then contact your credit card company, it may take some time before your refund is officially posted.If you’ve done all of this and you still have not received your refund yet, please contact us at sales@premiuminvention.com.
            
          
            
            <p> <b>         1-Year Warranty / Replacements</b> </p>
            Our one-year warranty covers you for any internal damage dealt with the camera only. If you believe your product is defective, feel free to reach out to us at support@premiuminvention.com.Before getting a replacement, it is mandatory for you to speak with our technical support team first, to ensure that there is a problem & that it cannot be fixed. Please note that any damage dealt by yourself or any external factors will void your warranty.
            
     

            <p> <b>       Shipping</b> </p>
            
            To return your product, you should mail your product to: "Premium Invention, Suite #506, 105-7655 Edmonds St, Burnaby, BC V3N 0C3, Canada."You are responsible for paying for your own shipping costs for returning your item, including any other additional fees that may apply(custom fees). Shipping costs are non-refundable.If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.
        </div>
      </div>
    </div>
  
  </div>