For CA, US, AU customers: We send out a free 3-in-1 SIM card that is tested and proven to work flawlessly with US, Canada, and Australian networks. It is designed and optimized specifically for our security cameras, ensuring stable and consistent performance. 
For any other countries not mentioned above: It is your responsibility to purchase your own SIM Card. Please see below for more 

<p> <b>United States:</b> </p>
For CA, US, AU customers: We send out a free 3-in-1 SIM card that is tested and proven to work flawlessly with US, Canada, and Australian networks. It is designed and optimized specifically for our security cameras, ensuring stable and consistent performance. 
For any other countries not mentioned above: It is your responsibility to purchase your own SIM Card. Please see below for more 


<p> <b>Canada:</b> </p>

We send out a free 3-in-1 SIM card that is tested and proven to work flawlessly with Bell, Telus, and Rogers networks. 
Should you wish to purchase your own SIM, below are some frequency bands that can be checked with your service provider to be more secure:

<br>
LTE-FDD: B2/B4/B5/B12/B13/ B14/B25/B26/B66/B71

<br>
LTE-TDD: B41 



<p> <b>Australia:</b> </p>

We send out a free 2-in-1 SIM card that is tested and proven to work flawlessly with Telstra and Optus networks. 
Should you wish to purchase your own SIM, below are some frequency bands that can be checked with your service provider to be more secure:
<br>
LTE-FDD: B1/B2/B3/B4/B5/B7/ B8/B28/B66
<br>
LTE-TDD: B40


<p> <b>New Zealand:</b> </p>

No specific choice or restriction.

Below are some frequency bands that can be checked with your service provider to be more secure:
<br>
LTE-FDD: B1/B2/B3/B4/B5/B7/ B8/B28/B66
<br>
LTE-TDD: B40




<p> <b>Europe, Middle East and Africa (EU version):</b> </p>
We send out a free SIM card that is tested and proven to work for most of the countries in Europe. Should you wish to purchase your own SIM, below are some frequency bands that can be checked with your service provider to be more secure:
<br>
LTE-FDD: B1/B3/B5/B7/B8/B20
<br>
LTE-TDD: B38/B40/B41 


<p> <b>Other countries:</b> </p>


No specific choice or restriction. Simply get the right sim card size and have network coverage in the area you plan to utilize the camera.


