<div id="wirelesscamerav3">
    <div class="card">
      <div class="card-header-0" id="wirelesscamerav3One">
      



        <button class="btn btn-link accrodian-tab-heading"  data-toggle="collapse" data-target="#wirelesscamerav3Onec" aria-expanded="true" aria-controls="wirelesscamerav3Onec">
            Packing List {% render 'arrow-icon-support' %}
          </button>
      
      </div>
  
      <div id="wirelesscamerav3Onec" class="collapse show" aria-labelledby="wirelesscamerav3One" data-parent="#wirelesscamerav3">
        <div class="card-body">
            <div class="card-body text-left">
                <ul class="d-inline-block">
                 <li>Wireless Camera V3</li>
                 <li>2 Antennas</li>
                 <li>Bracket Bag (2xBracket screws, 8xBattery screws & 4xMounting screws)</li>
                 <li>4 Rechargeable Batteries</li>
                 <li>User Manual</li>
                 <li>USB Cable (used to initially charge the batteries)</li>
                </ul>
             </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="headingwirelesscamerav3Two">

            <button class="btn btn-link accrodian-tab-heading" data-toggle="collapse" data-target="#collapsewirelesscamerav3Two" aria-expanded="false" aria-controls="collapsewirelesscamerav3Two">
            4G Usage {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapsewirelesscamerav3Two" class="collapse" aria-labelledby="headingwirelesscamerav3Two" data-parent="#wirelesscamerav3">
        <div class="card-body text-left">
        
            It is your responsibility to purchase your own SIM Card and get your own data plan.

<p> <b>United States:</b> </p>
Verizon & AT&T are not compatible. Any other network providers will work just fine and T-Mobile is highly recommended.


<p> <b>Canada:</b> </p>
No specific choice or restriction.

Below are some frequency bands that can be checked with your service provider to be more secure:

LTE:B1/B3/B5/B7/B8/B20/B38/B40/B41 WCDMA:B1/B5/B8

GSM:900/1800


<p> <b>Australia & New Zealand:</b> </p>
No specific choice or restriction.

Below are some frequency bands that can be checked with your service provider to be more secure:

LTE-FDD：B1/B2/B3/B4/B5/B7/B8/B28/B66 LTE-TDD：B40 UMTS/HSDPA/HSPA+：B1/B2/B5/B8



<p> <b>Other countries:</b> </p>
Australia & New Zealand:
No specific choice or restriction.

<p> <b>Other countries:</b> </p>


Simply get the right sim card size and have network coverage in the area you plan to utilize the camera.
        </div>
      </div>
    </div>


     <div class="card">
        <div class="card-header-0" id="heading-02-Two">

            <button class="btn btn-link collapsed accrodian-tab-heading" data-toggle="collapse" data-target="#collapse-02-Two" aria-expanded="false" aria-controls="collapse-02-Two">
                Video Storage and Playback Options {% render 'arrow-icon-support' %}
            </button>
         
        </div>
        <div id="collapse-02-Two" class="collapse" aria-labelledby="heading-02-Two" data-parent="#wirelesscamerav3">
          <div class="card-body">
            You have the choice to save recorded videos either on an SD card or in secure cloud storage. Playback is available directly within the application.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header-0" id="heading-02-Three">
   
            <button class="btn btn-link collapsed accrodian-tab-heading" data-toggle="collapse" data-target="#collapse-02-Three" aria-expanded="false" aria-controls="collapse-02-Three">
                Data Utilization and Usage  {% render 'arrow-icon-support' %}
            </button>
      
        </div>
        <div id="collapse-02-Three" class="collapse" aria-labelledby="heading-02-Three" data-parent="#wirelesscamerav3">
          <div class="card-body">
            Data is only required when you open the app to view your camera or past footages. <br>

            To view footage in SD, it uses 0.9-1.9MB per minute<br>
            
            To view footage in HD, it uses 1.9-3.8MB per minute<br>
            
            Therefore, if you plan to get 1G of data per month, you can watch approximately 350 minutes of HD definition.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header-0" id="heading-02-four">
       
            <button class="btn btn-link collapsed accrodian-tab-heading"  data-toggle="collapse" data-target="#collapse-02-four" aria-expanded="false" aria-controls="collapse-02-four">
                VIDEO: Wireless Camera V3 - WiFi Guide  {% render 'arrow-icon-support' %}
            </button> 
        
        </div>
        <div id="collapse-02-four" class="collapse" aria-labelledby="heading-02-four" data-parent="#wirelesscamerav3">
          <div class="card-body">
            <div class="respnsive-video">
            <iframe class="responsive-iframe"  width="100%" height="auto" src="https://www.youtube.com/embed/PjRv3gO-haA?si=fjIoEoI7qWCTGb8t" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header-0" id="heading-02-five">
    
            <button class="btn btn-link collapsed accrodian-tab-heading" data-toggle="collapse" data-target="#collapse-02-five" aria-expanded="false" aria-controls="collapse-02-five">
                VIDEO: Wireless Camera V3 - 4G Guide {% render 'arrow-icon-support' %}
            </button>

        </div>
        <div id="collapse-02-five" class="collapse" aria-labelledby="heading-02-five" data-parent="#wirelesscamerav3">
          <div class="card-body">
            <div class="respnsive-video">
              <iframe  class="responsive-iframe" src="https://www.youtube.com/embed/WEGbItsGlOU?si=Q0AuVb1cma9wbvzy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
 
          </div>
        </div>
      </div>








    
  </div>