





  <div id="WirelessCameraV3S">
    <div class="card">
      <div class="card-header-0" id="heading-30-One">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-30-One" aria-expanded="true" aria-controls="collapse-30-One">
            Packing List  {% render 'arrow-icon-support' %}
          </button>

      </div>
  
      <div id="collapse-30-One" class="collapse show" aria-labelledby="heading-30-One" data-parent="#WirelessCameraV3S">
        <div class="card-body text-left">
            <ul class="d-inline-block">
             <li>Wireless Camera V3S</li>
             <li>2 Antennas</li>
             <li>Bracket Bag (2xBracket screws, 8xBattery screws & 4xMounting screws)</li>
            <li>4 Rechargeable Batteries</li>
            <li>User Manual</li>
            <li>USB Cable (used to initially charge the batteries)</li>
            <li>Premium Bracket</li>
            </ul>
         </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-30-1-Two">

            <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-30-1-Two" aria-expanded="false" aria-controls="collapse-30-1-Two">
                4G Usage {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-30-1-Two" class="collapse" aria-labelledby="heading-30-1-Two" data-parent="#WirelessCameraV3S">
        <div class="card-body text-left">
          {% render 'use4g' %}
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-31-Three">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-31-Three" aria-expanded="false" aria-controls="collapse-31-Three">
            Video Storage and Playback Options  {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-31-Three" class="collapse" aria-labelledby="heading-31-Three" data-parent="#WirelessCameraV3S">
        <div class="card-body">
            You have the choice to save recorded videos either on an SD card or in secure cloud storage. Playback is available directly within the application.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-32-Three">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-32-Three" aria-expanded="false" aria-controls="collapse-32-Three">
            Data Utilization and Usage {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-32-Three" class="collapse" aria-labelledby="heading-32-Three" data-parent="#WirelessCameraV3S">
        <div class="card-body">
            Data is only required when you open the app to view your camera or past footages. <br>

            To view footage in SD, it uses 0.9-1.9MB per minute<br>
            
            To view footage in HD, it uses 1.9-3.8MB per minute<br>
            
            Therefore, if you plan to get 1G of data per month, you can watch approximately 350 minutes of HD definition.
            
            
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-33-Three">

        <button class="btn btn-link accrodian-tab-heading collapsed"   data-toggle="collapse" data-target="#collapse-33-Three" aria-expanded="false" aria-controls="collapse-33-Three">
            Manual Record {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-33-Three" class="collapse" aria-labelledby="heading-33-Three" data-parent="#WirelessCameraV3S">
        <div class="card-body">
            The application enables manual video recording and one-tap photo capture.
            
            
        </div>
      </div>
    </div>
  </div>