<div id="accordion-02">
    <div class="card">
      <div class="card-header-0" id="heading-01-One">



          <button class="btn btn-link accrodian-tab-heading" data-toggle="collapse" data-target="#collapse-01-One" aria-expanded="true" aria-controls="collapse-01-One">
            Packing List {% render 'arrow-icon-support' %}
          </button>
   
      </div>
  
      <div id="collapse-01-One" class="collapse show" aria-labelledby="heading-01-One" data-parent="#accordion-02">
        <div class="card-body text-left">
           <ul class="d-inline-block">
            <li>Wired Camera X3</li>
            <li>1 User Guide</li>
            <li>1 Power Supply</li>
            <li>1 Screw Bags</li>
           </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-01-Two">

          <button  class="btn btn-link accrodian-tab-heading" data-toggle="collapse" data-target="#collapse-01-Two" aria-expanded="false" aria-controls="collapse-01-Two">
            Connection {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-01-Two" class="collapse" aria-labelledby="heading-01-Two" data-parent="#accordion-02">
        <div class="card-body">
            To configure the camera, first download the iCSee app and register an account. Follow the camera's voice prompts and the step-by-step guide on the app interface for network configuration. Once you hear the camera emit a 'Connect router successfully' prompt, you can proceed to set the camera password and name.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-01-Three">
   
          <button class="btn btn-link accrodian-tab-heading" data-toggle="collapse" data-target="#collapse-01-Three" aria-expanded="false" aria-controls="collapseThree">
            Setup  {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="collapse-01-Three" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-02">
        <div class="card-body">
            Use the power adapter to connect the camera's power interface to the power socket, as shown in the figure below.
            <img loading="lazy" src="//premiuminvention.com/cdn/shop/files/Group_27.png?v=1697522891" alt="imag" >
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header-0" id="heading-01-Three-04">
   
          <button class="btn btn-link accrodian-tab-heading" data-toggle="collapse" data-target="#heading-01-Three-04" aria-expanded="false" aria-controls="collapseThree">
            Storage  {% render 'arrow-icon-support' %}
          </button>

      </div>
      <div id="heading-01-Three-04" class="collapse" aria-labelledby="heading-01-Three-04" data-parent="#accordion-02">
        <div class="card-body">
            Up to 128GB Cloud storage or both for more protection Support NVR from the same solution provider , also 3rd party NVR that is ONVIF compatible.
        </div>
      </div>
    </div>
  </div>