

<style>
    .left-top-image h3 {
        color: #151414;
        font-family: Work Sans;
        font-size: 48px;
        font-style: italic;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: -1.92px;
    }


  .about-text-wrapper p  {
    
        color: #000;

        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */}
        .mt-20{
         margin-top:25px;
        }
</style>
<div class="about-text-wrapper">
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
          <div class="left-top-image">
             <h3>“Step Into Tomorrow With Us”</h3>
          </div>

        </div>
        <div class="col-12 col-md-6">
            <p>Born in the vibrant city of Vancouver, Canada in 2019, our mission is to propel you into the future with cutting-edge security solutions that redefine the way we safeguard our homes and businesses. We're not just a security company; we're architects of tomorrow's security landscape.

        </p>
        </div>
         <div class="col-12">
           <p class="mt-20">
            Our core mission is to provide you with peace of mind by creating innovative security solutions that are as effective as they are easy to use. We understand that security is not just about protecting physical spaces; it's about safeguarding the people and things that matter most to you. We are dedicated to pushing the boundaries of what's possible in the realm of security technology to ensure your safety.
          </p>
        </div>
    </div>
</div>
</div>


{% schema %}
    {
        "name": "About text",
        "class": "abouttext",
        "settings": [
        
        ],
        "presets": [
            {
              "name": "About text"}
        ]
    }
{% endschema %}
