<div class="collection_outer_v3">
   <div class="page-width">
      <div class="collection_v3_inner ">
         <div class="collection_v3_right mobile_version">
            <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/wireless_camera_1.png?v=1651769298" class="wireless_media">
         </div>
         <div class="collection_v3-left">
           <div class="top_section_banner">
           <h5 class="Featured_coll_heading">Featured </h5>
             <button type="button" class="btn_collection_banner">$100 OFF for limited time only </button>
           </div>
            <h2>Wireless Outdoor Camera V3 </h2>
            <ul class="collection_outer_inner">
               <li class=""><img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collection_4g.png?v=1654540905" class="wireless_media_inner"><span> Connects on <br>4g networks</span></li>
               <li class=""><img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collection_wifi.png?v=1654540905" class="wireless_media_inner"><span> Connects <br>to WiFi</span></li>
               <li class=""><img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/starlight_1.png?v=1654540905" class="wireless_media_inner"> <span>Starlight <br>Technology</span></li>
               <li class=""><img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/simple_installation_1.png?v=1654540905" class="wireless_media_inner"><span>Simple <br>Installation</span></li>
            </ul>
           <a href="{{ section.settings.link }}" class="submit_collection_banner button">{{ section.settings.button_label  }}</a>
            
         </div>
         <div class="collection_v3_right">
            <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/wireless_camera_1.png?v=1651769298" class="wireless_media">
         </div>
      </div>
   </div>
</div>
{% schema %}
   {
    "name": "collection camera v3",
    "settings": [
              {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "button text"
        },
             { 
          "id": "link",
          "type": "url",
          "label": "Button link"
       }
                ],
   "presets": [
       {
         "name": "collection camera v3"
       
       }
      ]
      }
{% endschema %}
{{ 'collection-camera-v3.css' | asset_url | stylesheet_tag }}
