<div class="contact-us-top">
  <div class="page-width">
   <div class="contact-inner-top">
    <div class="section-header text-center">

      <h4 class="top_heading">
        {{ section.settings.heading_title_1 }}
        
      </h4>
      <p>{{section.settings.cta_label  }}</p>
       <h5>{{section.settings.heading_title_2 }}</h5> 
      </div>
    </div>
  </div>
</div>

{% schema %}
   {
    "name": "contact us top",
    "settings": [
   {
      "type": "text",
      "id": "heading_title_1",
      "label": "Top Heading"
    },
    {
      "type": "html",
      "id": "cta_label",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "heading_title_2",
      "label": "Bottom Heading"
    }
   ],
   "blocks": [],

   "presets": [
       {
         "name": "contact us top"
       
       }
      ]
      }
{% endschema %}
{{ 'contact-us-top.css' | asset_url | stylesheet_tag }}
