<div class="guide-tab desktop">
   <div class="page-width">
      <div class="tabs">
         <ul id="tabs-nav-guide"> 
              <li>
                <a href="#guide-tab1">
                  <h3>V2 Guide</h3>
                    <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collection-new5i.png?v=1655201437" alt="" class="guide_wireless__image" loading="lazy">
                 </a>
               </li>
               <li>
                 <a href="#guide-tab2"> 
                   <h3>V3-WiFi Guide</h3>
                     <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collection-new3i.png?v=1655201437" alt="" class="guide_wireless__image" loading="lazy">
                     </a>
                 </li> 
               <li class="tgrt-click-guide3">
                  <a href="#guide-tab3"  >
                     <h3>V3-4G Guide</h3>
                     <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collection-new3i.png?v=1655201437" alt="" class="guide_wireless__image" loading="lazy">
              
                 </a>
               
           	</li>
              <li>
                <a href="#guide-tab4"> 
                  <h3>Q Guide</h3>
                     <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collectoin__wirlessnew3.png?v=1654777481" alt="" class="guide_wireless__image" loading="lazy">

               </a>
             </li>
         </ul>
         
         <!-- END tabs-nav -->
         <div id="tabs-content-guide">
            <div id="guide-tab1" class="tab-content-guide">
               <div class=" guide_same">
                     <div class="guide_text">
                       <h5>Camera Guide</h5>
                        <h2>Wireless Camera V3-4G Guide</h2>
                     </div>
                     <div class="guide-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/PjRv3gO-haA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
            </div>
            <div id="guide-tab2" class="tab-content-guide">
               <div class="guide_inner">
                  <div class=" guide_same">
                     <div class="guide_text">
                       <h5>Camera Guide</h5>
                        <h2>Wireless Camera V3-WiFi Guide</h2>
                     </div>
                     <div class="guide-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/PjRv3gO-haA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
               </div>
            </div>
           <div id="guide-tab3" class="tab-content-guide">
               <div class="guide_inner">
                  <div class=" guide_same">
                     <div class="guide_text">
                       <h5>Camera Guide</h5>
                        <h2>Wireless Camera V3-4G Guide</h2>
                     </div>
                     <div class="guide-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/WEGbItsGlOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  <P>If you're having issues getting your 4G camera light to go blue and stay blue, here are the mistakes:</P>
                   <ol class ="guidev3-4g_bottom">
                     
                       <li><span>Only shows red light - the signal is too weak, make sure the antennas are securely installed, change the position of the camera or the direction of the antennas </span></li>
                       <li><span>Red &amp; blue light alternating - The device isn't detecting the SIM card, make sure the SIM card is properly inserted and is active with a data plan </span></li>
                       <li><span>Red &amp; blue light alternating, but SLOWLY - Top up the balance on your SIM card, data limit is reached</span></li>
                      </ol>
                  </div>
               </div>
            </div><div id="guide-tab4" class="tab-content-guide">
               <div class="guide_inner">
                  <div class=" guide_same">
                     <div class="guide_text">
                       <h5>Camera Guide</h5>
                        <h2>Wireless Camera Q Guide</h2>
                     </div>
                    <div class="guide-video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/WEGbItsGlOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>
               </div>
            </div>
            
         </div>
          
         <!-- END tabs-content -->
        
   <!--        tab end  -->     

    </div>
      <!-- END tabs -->
   </div>
</div>
<div class="guide-tab mobile">
   <div class="page-width">
  <ul id="tabs-guide_mobile"> 
<!--     <li>
      <div class="mobile_guide_text">
        <h3>V2 Guide</h3>
        <a data-guide="v2_guide"  role="link" class="button_mobile_guide button button--primary" tabindex="-1">Select </a>
      </div>
      <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collection-new5i.png?v=1655201437" alt="" class="guide_wireless__image">
    </li> -->
    
     <li>
      <div class="mobile_guide_text">
        <h3>V3-WiFi Guide</h3>
        <a data-guide="v2_guide"  role="link" class="button_mobile_guide button button--primary" tabindex="-1">Select </a>
      </div>
      <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collection-new3i.png?v=1655201437" alt="" class="guide_wireless__image" loading="lazy">
    </li>

    <li>
      <div class="mobile_guide_text">
        <h3>V3-4G Guide</h3>              
        <a data-guide="v3-4g_guide" role="link" class="button_mobile_guide button button--primary" tabindex="-1">Select </a>
      </div>
      <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collection-new3i.png?v=1655201437" alt="" class="guide_wireless__image" loading="lazy">
    </li>
    <li>
      <div class="mobile_guide_text">
        <h3>Q Guide</h3>
        <a data-guide="q_guide" role="link" class="button_mobile_guide button button--primary" tabindex="-1">Select </a>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collectoin__wirlessnew3.png?v=1654777481" alt="" class="guide_wireless__image" loading="lazy">
    </li>
     </ul>
   </div>
</div>

<script>
var currLink = window.location.href;
</script>

<div class="guide-video-v2 mobile">
   <div class="page-width">
     <div class=" guide_same_video">
       <div class="guide_text_video">
         <h3>V3-WiFi Guide</h3>
         <h6><a href="#" id="v2-goback_guides"><< Go Back to Guides page</a></h6>

       </div>
       <div class="guide-video_mobile">
<!--          <iframe width="560" height="315" src="https://www.youtube.com/embed/ZTULhsVCKJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
              <iframe width="560" height="315" src="https://www.youtube.com/embed/PjRv3gO-haA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
     </div>
     
   </div>
</div> 
<div class="guide-video-V3-4G  mobile">
   <div class="page-width">
     <div class=" guide_same_video">
       <div class="guide_text_video">
         <h3>V3-4G Guide</h3>
         <h6><a href="#" id="v3-4g-goback_guides"><< Go Back to Guides page</a></h6>

       </div>
       <div class="guide-video_mobile">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/WEGbItsGlOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       <p> If you're having issues getting your 4G camera light to go blue and stay blue, here are the mistakes:</p>
       </div>
          
        <ol class ="guidev3-4g_bottom mobile">
                     
                       <li><span>Only shows red light - the signal is too weak, make sure the antennas are securely installed, change the position of the camera or the direction of the antennas </span></li>
                       <li><span>Red &amp; blue light alternating - The device isn't detecting the SIM card, make sure the SIM card is properly inserted and is active with a data plan </span></li>
                       <li><span>Red &amp; blue light alternating, but SLOWLY - Top up the balance on your SIM card, data limit is reached</span></li>
                      </ol>
     </div>
     
   </div>
</div> 
 <div class="guide-video-Q mobile">
   <div class="page-width">
     <div class=" guide_same_video">
       <div class="guide_text_video">
         <h3>Q Guide</h3>
         <h6><a href="#" id="q-goback_guides"><< Go Back to Guides page</a></h6>

       </div>
       <div class="guide-video_mobile">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/WEGbItsGlOU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
       </div>
        
     </div>
     
   </div>
</div> 

{% schema %}
   {
    "name": "Guide tab section",
    "settings": [],
   "presets": [
       {
         "name": "Guide tab section"
       
       }
      ]
      }
{% endschema %}
 {{ 'Guide-tab-section.css' | asset_url | stylesheet_tag }}