<div class="Guide-Specifications">
   <div class="page-width">
     <div class="section-header text-center">
         <h2>Specifications</h2>
      </div>
      <div class="Guide-Specifications-inner">
        <div class="left-side-img">
          <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/spesifications.png?v=1655389911" alt="" class="guide_specification" loading="lazy">
              
        </div>
        
       <div class="right-side-text">
         <ol> <li>
           <span class="left-number"><span class ="only_number">1</span> </span> <span class="right-text">Antenna</span>
           </li> <li>
           <span class="left-number"><span class ="only_number">2</span></span> <span class="right-text">Solar Camera</span>
           </li> <li>
           <span class="left-number"><span class ="only_number">3</span></span> <span class="right-text">Case</span>
           </li> 
           <li><span class="left-number"><span class ="only_number">4</span></span> <span class="right-text">LEDs</span>
           </li>
         <li><span class="left-number"><span class ="only_number">5</span></span> <span class="right-text">Mount</span>
           </li>
         </ol>
         
        </div>
      </div>
    
   </div>
</div>

{% schema %}
   {
    "name": "Guide Specifications",
    "settings": [],
   "presets": [
       {
         "name": "Guide Specifications"
       
       }
      ]
      }
{% endschema %}
 {{ 'Guide-Specifications.css' | asset_url | stylesheet_tag }}