<div class="collection_main guide-wireless-slider ">
   <div class="page-width">
     

      <div class="tabs">
        <div id="collection-top-tab1" class="residential-commercial"> 
<!--           <div class="collectio--slecte-mobile"> Select type...  
            </div>
         <ul class="hidedrop" id="tabs-nav-collection"> 
            <li class="tgrt-click-wieless"   hit="collection_inner"><a href="#collection-tab1">Wireless</a></li>
            <li  hit="collection_inner"><a href="#collection-tab2"  >Wired</a></li>
            <li  hit="collection_inner"><a href="#collection-tab3"  >Accessories</a></li>
         </ul> -->
         
         <!-- END tabs-nav -->
         <div id="tabs-content-collection">
            <div id="collection-tab1" class="tab-content-collection">
               <div class="collection_inner">
                  <div class="collection_sec1 collection_same">
                     <div class="collection_text">
                        <h2>Wireless Camera V2</h2>
                        <div class="star--rating">
                           <a href="#looxReviews">
                              <div class="loox-rating" data-id="6729470312509" data-rating="4.9" data-raters="107" title="4.9 rating (107 votes)" aria-label="4.9 rating (107 votes)" data-rating-upgraded="1">
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>&nbsp;<span>(107)</span>
                              </div>
                           </a>
                        </div>
                        <ul>
                           <li>Small Battery Life + 1W Solar panel</li>
                           <li>Records when motion triggers</li>
                           <li>Black/White Night Vision</li>
                        </ul>
                     </div>
                     <div class="collection_img">
                        <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collectoin__wirlessnew1.png?v=1654777481" alt="" class="collec_wireless__image">
                     </div>
                     <div class="collection_btn">
                        <a role="link" class="button_collection button button--primary">Shop Now </a>
                     </div>
                  </div>
                  <div class="collection_sec2 collection_same">
                     <div class="collection_text">
                        <h2>Wireless Camera V3</h2>
                        <div class="star--rating">
                           <a href="#looxReviews">
                              <div class="loox-rating" data-id="6729470312509" data-rating="4.9" data-raters="107" title="4.9 rating (107 votes)" aria-label="4.9 rating (107 votes)" data-rating-upgraded="1">
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>&nbsp;<span>(107)</span>
                              </div>
                           </a>
                        </div>
                        <ul>
                           <li>Upgraded Battery Life + 5W Solar Panel</li>
                           <li>Lots of new Camera and App Features</li>
                           <li>Color Night Vision</li>
                           <li>Records when motion triggers</li>
                           <li>Wifi or 4G Network Access</li>
                        </ul>
                     </div>
                     <div class="collection_img">
                        <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collectoin__wirlessnew2.png?v=1654777481" alt="" class="collec_wireless__image">
                     </div>
                     <div class="collection_btn">
                        <a role="link" class="button_collection button button--primary">Shop Now </a>
                     </div>
                  </div>
                  <div class="collection_sec3 collection_same">
                     <div class="collection_text">
                        <h2>Wireless Camera Q2</h2>
                        <div class="star--rating">
                           <a href="#looxReviews">
                              <div class="loox-rating" data-id="6729470312509" data-rating="4.9" data-raters="107" title="4.9 rating (107 votes)" aria-label="4.9 rating (107 votes)" data-rating-upgraded="1">
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>&nbsp;<span>(107)</span>
                              </div>
                           </a>
                        </div>
                        <ul>
                           <li>Upgraded Battery Life + 5W Solar Panel</li>
                           <li>Lots of new Camera and App Features</li>
                           <li>Color Night Vision</li>
                           <li>Records when motion triggers</li>
                           <li>Wifi or 4G Network Access</li>
                        </ul>
                     </div>
                     <div class="collection_img">
                        <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collectoin__wirlessnew3.png?v=1654777481" alt="" class="collec_wireless__image">
                     </div>
                     <div class="collection_btn">
                        <a role="link" class="button_collection button button--primary">Shop Now </a>
                     </div>
                  </div>
                  <div class="collection_sec4 collection_same">
                     <div class="collection_text">
                        <h5>COMING SOON</h5>
                        <h2>Wireless Camera V4</h2>
                        <div class="star--rating">
                           <a href="#looxReviews">
                              <div class="loox-rating" data-id="6729470312509" data-rating="4.9" data-raters="107" title="4.9 rating (107 votes)" aria-label="4.9 rating (107 votes)" data-rating-upgraded="1">
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>
                                 <i class="loox-icon loox-star"></i>&nbsp;<span>(107)</span>
                              </div>
                           </a>
                        </div>
                        <ul>
                           
                           
                        </ul>
                     </div>
                     <div class="collection_img">
                        <img src ="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/collectoin__wirlessnew4.png?v=1654777481" alt="" class="collec_wireless__image">
                     </div>
                     <div class="collection_btn">
                        <a role="link" class="button_collection button button--primary">Shop Now </a>
                     </div>
                  </div>
               </div>
            </div>
            
            
         </div>
          
         <!-- END tabs-content -->
       </div>
        
   <!--       resdential tab end  -->     
        
<!--         commertail tab start -->
        
        
     
    </div>
      <!-- END tabs -->
   </div>
</div>

{% schema %}
   {
    "name": "guide wireless slider",
    "settings": [],
   "presets": [
       {
         "name": "guide wireless slider"
       
       }
      ]
      }
{% endschema %}
 {{ 'collection-residential-commercial.css' | asset_url | stylesheet_tag }}
 {{ 'guide-wireless-slider.css' | asset_url | stylesheet_tag }}