
<div class="ajaytest " data-bgset="//cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_180x.jpg?v=1638911335 180w 65h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_360x.jpg?v=1638911335 360w 131h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_540x.jpg?v=1638911335 540w 196h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_720x.jpg?v=1638911335 720w 262h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_900x.jpg?v=1638911335 900w 327h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1080x.jpg?v=1638911335 1080w 393h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1296x.jpg?v=1638911335 1296w 471h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1512x.jpg?v=1638911335 1512w 550h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1728x.jpg?v=1638911335 1728w 628h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1950x.jpg?v=1638911335 1950w 709h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2100x.jpg?v=1638911335 2100w 763h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2260x.jpg?v=1638911335 2260w 821h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2450x.jpg?v=1638911335 2450w 890h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2700x.jpg?v=1638911335 2700w 981h,
   //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802.jpg?v=1638911335 2845w 1034h" data-parent-fit="contain" style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1728x.jpg?v=1638911335&quot;);">
   <picture style="display: none;">
      <source data-srcset="//cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_180x.jpg?v=1638911335 180w 65h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_360x.jpg?v=1638911335 360w 131h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_540x.jpg?v=1638911335 540w 196h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_720x.jpg?v=1638911335 720w 262h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_900x.jpg?v=1638911335 900w 327h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1080x.jpg?v=1638911335 1080w 393h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1296x.jpg?v=1638911335 1296w 471h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1512x.jpg?v=1638911335 1512w 550h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1728x.jpg?v=1638911335 1728w 628h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1950x.jpg?v=1638911335 1950w 709h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2100x.jpg?v=1638911335 2100w 763h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2260x.jpg?v=1638911335 2260w 821h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2450x.jpg?v=1638911335 2450w 890h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2700x.jpg?v=1638911335 2700w 981h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802.jpg?v=1638911335 2845w 1034h" sizes="2698px" srcset="//cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_180x.jpg?v=1638911335 180w 65h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_360x.jpg?v=1638911335 360w 131h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_540x.jpg?v=1638911335 540w 196h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_720x.jpg?v=1638911335 720w 262h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_900x.jpg?v=1638911335 900w 327h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1080x.jpg?v=1638911335 1080w 393h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1296x.jpg?v=1638911335 1296w 471h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1512x.jpg?v=1638911335 1512w 550h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1728x.jpg?v=1638911335 1728w 628h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_1950x.jpg?v=1638911335 1950w 709h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2100x.jpg?v=1638911335 2100w 763h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2260x.jpg?v=1638911335 2260w 821h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2450x.jpg?v=1638911335 2450w 890h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802_2700x.jpg?v=1638911335 2700w 981h, //cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20211207130802.jpg?v=1638911335 2845w 1034h">
      <img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="2698px">
   </picture>
</div>
{% schema %}
  {
    "name": "Home banner",
    "settings": [],
  "presets": [
    {
      "name": "Home banner"
    }
  ]
  }
{% endschema %}
 {{ 'home-banner-logo.css' | asset_url | stylesheet_tag }}

