<section class="featured-on">
  <div class="container">
    <div class="featured-on-wrapper">
      <p class="brandtitle">{{ section.settings.heading_title_2 | escape }}</p>
      <div class="brand-wrapper d-flex align-items-center ">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'image' %}
              <div class="brand-item d-flex align-items-center justify-content-center">
                <img src="{{ block.settings.image | image_url: width: 220  }}" class="img-fluid" alt="brand">
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<style>
    /* featured-on  */
  .featured-on {
    position: relative; }
  @media all and (min-width:480px){
    .featured-on::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0.3) 23.18%, rgba(255, 255, 255, 0) 37.76%, rgba(255, 255, 255, 0) 62.24%, rgba(255, 255, 255, 0.3) 76.82%, #ffffff 100%);
      width: 100%;
      height: 100%; }
  }
    .featured-on .featured-on-wrapper {
      padding: 60px 0;
      overflow: hidden; }
    .featured-on .brand-wrapper {
      gap: 20px;
      animation: first-marquee 20s linear infinite; }
  @keyframes first-marquee {
    0% {
      transform: translateX(0); }
    100% {
      transform: translateX(calc(-220px * 6)); } }
      .featured-on .brand-wrapper .brand-item {
        width: 200px;
        height: 86px;
        background: #ffffff;
        box-shadow: 0px 5px 15px rgba(24, 33, 39, 0.1);
        border-radius: 8px;
        flex-shrink: 0; }
.align-items-center {
    align-items: center!important;
}
  .justify-content-center {
    justify-content: center!important;
}
 .brandtitle{
       font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #364148;
   margin-bottom:3.5rem;
 }
  /* / featured-on */
</style>
{% schema %}
{
  "name": "Logo slider",
  "settings": [{
    "type": "text",
    "id": "heading_title_2",
    "label": "Top Heading"
  },
 {
		"type": "text",
          "id": "heading1",
          "label": "tab 1 heading"
        },
          {
		"type": "text",
          "id": "heading2",
          "label": "tab 2 heading"
        },
      {
		"type": "text",
          "id": "heading3",
          "label": "tab 3 heading"
        }
 ],
"blocks": [
  {
    "type": "image",
    "name": {
      "en": "image"
    },
  "settings": [
          {
        "type": "image_picker",
        "id": "image",
        "label":"tab1 Image"
      },
        {
        "type": "image_picker",
        "id": "image2",
        "label":"tab2 Image"
      },
         {
        "type": "image_picker",
        "id": "image3",
        "label":"tab3 Image"
      },
       {
        "type": "text",
        "id": "cta_label",
        "label": "Text"
      }
  ]
  }
    ],
"presets": [
  {
    "name": "Logo slider"
  }
]
}
{% endschema %}
{{ 'home-banner-logo.css' | asset_url | stylesheet_tag }}
