<div id="shopify-section-Popup--premium" class="{{ section.settings.extra-Popup--premium }}">
  <div class="Popup--premium">
  
  <div class="">
    <div class="popup-inner-premium">
      <div class="popup" id="popup">
          <h2 class="popup_prm_heading"> Premium Quality</h2>
          <p>Full quality-inspection with care. 365days of warranty for all products.</p>
          <a href="javascript:;" onclick="hide('popup')"><img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/remove-iconpopup.png?v=1656171185" loading="lazy" loading="lazy"  alt="icon"></a>
        </div>
      
      <!-- This is what will be included inside the popup -->
        <div class="popupk" id="popupk">
          <h2 class="popup_prm_heading">Top-Tier Support Team</h2>
          <p>All e-mails are responded to by real people (no bots) within 24hours.</p>
          <a href="javascript:;" onclick="hide('popupk')"><img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/remove-iconpopup.png?v=1656171185" loading="lazy" alt="icon"></a>
        </div>
      <!-- This is what will be included inside the popup -->
        <div class="popupkp" id="popupkp">
          <h2 class="popup_prm_heading">  Express Shipping</h2>
          <p>Delivers in 2-5 days in the USA & 7-15 days in other countries. Easy tracking.</p>
          <a href="javascript:;" onclick="hide('popupkp')"><img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/remove-iconpopup.png?v=1656171185" loading="lazy" alt="icon"></a>
        </div>
      
  
      <ul class="popup-only-slider">
        <li>
          <button class="button" href="javascript:;" onclick="show('popup')">
  
            <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/Group_397a5af9-7d49-4073-a217-96b0f1eaa0e2.png?v=1696492454" loading="lazy" alt="icon">
            <h2 class="popup_prm_heading"> Premium Quality</h2>
  
          </button>
        </li>
  
       
  
        
        <li >
          <button class="button" href="javascript:;" onclick="show('popupkp')">
  
            <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/icon__shipping_fast_solid.png?v=1696492455" loading="lazy" alt="icon">
            <h2 class="popup_prm_heading">  Express Shipping</h2>
  
          </button>
          
        
        </li>
        <li >
          <button class="button" href="javascript:;" onclick="show('popupk')">
  
            <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/icon__help_customer_support_1.png?v=1696492454" loading="lazy" alt="icon">
            <h2 class="popup_prm_heading">Top-Tier Support Team</h2>
  
          </button>
          
        
        </li>
  
        <li >
          <button class="button" href="javascript:;" onclick="show('popupkwarranty')">
  
            <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/icon__premium_content_user_credit.png?v=1696492454" loading="lazy" alt="icon">
            <h2 class="popup_prm_heading">1 Year Warranty</h2>
  
          </button>
          
        
        </li>
        
        <li class="last-child-popup" >
          <button class="button" href="javascript:;" onclick="show('popupkpn')">
  
            <img src="https://cdn.shopify.com/s/files/1/0249/8949/9437/files/icon__money_refund_dollar.png?v=1696492454" loading="lazy" alt="icon">
            <h2 class="popup_prm_heading"> 30-Day Money-Back Guarantee</h2>
  
          </button>
          
        </li>
  
        
  
  
  
      </ul> 
   
    </div>
    
    </div>
  </div>
  </div>
  
  
  
  {% schema %}
    {
      "name": "Popup premium",
      "settings": [
      {
            "type": "text",
            "id": "extra-Popup--premium",
            "label": "choose your class"
     }],
         "presets": [
      {
        "name": {
          "en": "Popup premium"
        }
      }
    ],
    "blocks": [ ]
    }
  {% endschema %}
  {{ 'Popup--premium.css' | asset_url | stylesheet_tag }}
  
  
  
  {% stylesheet %}
  
  
  {% endstylesheet %}
  
  {% javascript %}
  
  {% endjavascript %}
  