{{ 'productv3-camera-logo-bar.css' | asset_url | stylesheet_tag }}

<div class="product-logobar_main">
  <div class="page-width">
 <ul class="product-logo-bar">
   <li class="product-bar__item">
    


        {{ section.settings.img | image_url: width: 3840 | image_tag:
          loading: 'lazy',
          height: '60',
          sizes: "100vw",
      class: 'css-class-1 css-class-2',
      format: 'webp',
          widths: ' 50,60 ,100 , 200 ,375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        }}
   </li>
   <li class="product-bar__item">

      
      {{ section.settings.img01 | image_url: width: 3840 | image_tag:
        loading: 'lazy',
        height: '60',
        sizes: "100vw",
    class: 'css-class-1 css-class-2',
    format: 'webp',
        widths: ' 50,60 ,100 , 200 ,375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
   </li>
   <li class="product-bar__item">

      
      {{ section.settings.img02 | image_url: width: 3840 | image_tag:
        loading: 'lazy',
        height: '60',
        sizes: "100vw",
    class: 'css-class-1 css-class-2',
    format: 'webp',
        widths: ' 50,60 ,100 , 200 ,375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
   </li>
</ul> 
     </div>
     </div>
{% schema %}
  {
    "name": "product logo bar",
    "settings": [

      {
        "type": "image_picker",
        "id": "img",
        "label": "First logo"
      },

      {
        "type": "image_picker",
        "id": "img01",
        "label": "Second logo"
      },

      {
        "type": "image_picker",
        "id": "img02",
        "label": "Therd logo"
      }
    ],
  "presets": [
    {
      "name": "product logo bar"
    }
  ]
  }
{% endschema %}

