<div class="product-logobar_main">
  <div class="page-width">
 <ul class="product-logo-bar">
   <li class="product-bar__item">
      <img src="//cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20220316131001_160x160@2x.png?v=1647547259" alt="" class="logo-bar__image">
   </li>
   <li class="product-bar__item">
      <img src="//cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20220316131004_160x160@2x.png?v=1647547274" alt="" class="logo-bar__image">
   </li>
   <li class="product-bar__item">
      <img src="//cdn.shopify.com/s/files/1/0249/8949/9437/files/Image20220316130956_160x160@2x.png?v=1647547292" alt="" class="logo-bar__image">
   </li>
</ul> 
     </div>
     </div>
{% schema %}
  {
    "name": "product logo bar",
    "settings": [],
  "presets": [
    {
      "name": "product logo bar"
    }
  ]
  }
{% endschema %}
 {{ 'productv3-camera-logo-bar.css' | asset_url | stylesheet_tag }}
