@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.about-Us-top h2.about-heading {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0px;
    text-align: center;
}
.about-Us-top p {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.about-Us-top ul li p {
    margin: 0;
}
.about-Us-top .about-top_inner {
    padding: 25px 0 15px;
}
.about-Us-top .about-top_inner img {
    width: 100%;
    margin-top: 15px;
}
@media only screen and (min-width: 768px){
.about-Us-top .about-top_inner {
    width: 65%;
    margin: 0 auto;
}
}
 
}
@media only screen and (max-width: 1399px){
.about-Us-top p {

}
}