.main--home--extra .slideshow__text.banner__box {
    justify-content: left;
}
.main--home--extra .slideshow__text-wrapper.banner__content {
    padding: 0;
    justify-content: left;
    align-items: center;
}
.main--home--extra .slideshow__text.banner__box {
    background: none;
    min-width: 100%;
    align-items: normal;
    margin-top: 40px;
}

.main--home--extra .slideshow__text.banner__box h2.banner__heading.h1 {
    font-family: Work Sans;
    font-size: 100px;
    font-size: 90px;
    font-weight: 600;
    line-height: 94px;
    letter-spacing: 8.2px;
    text-align: center;
    color: #fff;
   
}
.main--home--extra .slideshow__text.banner__box h2.banner__heading.h1 span {
    font-family: Work Sans;
    font-size: 61px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 4px;
/*     text-align: left; */
}
.main--home--extra .banner__text {
    text-align: center;
}
.main--home--extra .banner__text span {
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: center;
    color: #fff;
}
.main--home--extra .banner__buttons a.button {
    width: 230px;
    height: 60px;
    border-radius: 3px;
    background: #fff;
    opacity: 1;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: #086FB5;
}
.main--home--extra .slideshow__text.banner__box h2.banner__heading.h1 {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 14px;
    border-bottom: 3px solid #086FB5;
    border-top: 3px solid #086FB5;
}
@media screen and (min-width: 1400px){
 
  .main--home--extra .slideshow__text.banner__box {
    padding: 0;
  }
  
}
