div#shopify-section-Popup--premium.extra-home-popup {
   background: #f4f4f4;
}
.Popup--premium {
    padding: 0px 0 0px;
    display: inline-block;
    width: 100%;
}

.Popup--premium ul {
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    flex-direction: row;
    padding-left: 0;
    margin: 0;
}
.Popup--premium ul li {
    display: flex;
    width: 23%;
    padding: 0 0px;
    align-items: center;
    justify-content: center;
}
.Popup--premium ul li.last-child-popup{
  width: 31%;
}
.Popup--premium ul button.button {
    background: transparent;
    padding: 0;
}
.Popup--premium ul button.button:hover::after,
.Popup--premium ul button.button::before, 
.Popup--premium ul button.button::after{
    box-shadow: none;
    border: none;
}
.Popup--premium ul button.button:hover h2.popup_prm_heading {
    color: #e1f3ff;
}
.Popup--premium ul button.button:hover img {
    opacity: .75;
}
.Popup--premium ul li img {
    height: 28px;
    width: 30px;
    margin-right: 8px;
    object-fit: contain;
}
.Popup--premium ul li h2.popup_prm_heading {
    font-size: 14px;
    width: auto;
    text-align: left;
    font-weight: 500;
    line-height: 24px;
    color: #086FB5;
    margin: 0;
}

/* popup */
.Popup--premium .popup,
.Popup--premium .popupk,
.Popup--premium .popupkp,
.Popup--premium .popupkpn{
    display: none;
    position: fixed;
    padding: 10px 25px 25px;
    height: fit-content;
    top: 0;
    background: #FFF;    
    z-index: 999;
    width: 75%;
    margin: 4em auto 5%;
    max-width: 45em;
    transition: 400ms;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
}

.Popup--premium  #popup:after,
.Popup--premium  #popupk:after,
.Popup--premium  #popupkp:after,
.Popup--premium  #popupkpn:after{
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

.Popup--premium  #popup:before,
.Popup--premium  #popupk:before,
.Popup--premium  #popupkp:before,
.Popup--premium  #popupkpn:before{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
  border-radius: 12px;
}
div#popup h2.popup_prm_heading,
div#popupk h2.popup_prm_heading,
div#popupkp h2.popup_prm_heading,
div#popupkpn h2.popup_prm_heading{
    font-size: 20px;
    width: auto;
    text-align: left;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 0;
}
/* Styling buttons & webpage */

.Popup--premium  p {
	margin:  6px 0 0;
  font-size: 16px;
  line-height: 23px;
}
.Popup--premium .popup a,
.Popup--premium .popupk a,
.Popup--premium .popupkp a,
.Popup--premium .popupkpn a{
    text-decoration: none;
    color: #055389;
    position: absolute;
    right: 10px;
    top: 15px;
}
.Popup--premium .popup a:hover,
.Popup--premium .popupk a:hover,
.Popup--premium .popupkp a:hover,
.Popup--premium .popupkpn a:hover{
    color: #086FB5;
}
.Popup--premium .popup a img,
.Popup--premium .popupk a img,
.Popup--premium .popupkp a img,
.Popup--premium .popupkpn a img{
    width: 24px;
    object-fit: contain;
}


/* popup-slider only */

/* div#shopify-section-Popup--premium .Popup--premium .popup-inner-premium ul.popup-only-slider li h2.popup_prm_heading {
    width: auto;
}
div#shopify-section-Popup--premium .Popup--premium .popup-inner-premium ul.popup-only-slider li button.button {
    width: 100%;
    display: flex;
}
div#shopify-section-Popup--premium .Popup--premium .popup-inner-premium ul.popup-only-slider {
    margin-bottom: 0;
}
div#shopify-section-Popup--premium .Popup--premium .popup-inner-premium ul.popup-only-slider .slick-dots li button:before{
visibility: hidden;
}

div#shopify-section-Popup--premium .Popup--premium  ul.popup-only-slider button.slick-prev.slick-arrow::before,
div#shopify-section-Popup--premium .Popup--premium  ul.popup-only-slider button.slick-next.slick-arrow::before{
display: none;
}

@media only screen and (max-width: 767px){
 div#shopify-section-Popup--premium .Popup--premium {
    display: block;
    padding: 0 0;
}

} */