
.rating--nmbrs {
    font-size: 19px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: 600;
    font-family: 'Work Sans';
}
.product--slct-tab h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #6E6E6E;
    text-align: center;
}
.product--slct-tab h3 {
    font-weight: 700;
    font-size: 29px;
    line-height: 18px;
    text-align: center;
    color: #6E6E6E;
}
.product--slct-tab h4{
    color: #6E6E6E;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}
.choose--from ul li.active {
    background: #989898;
color: #fff;
border:1px solid #fff;
}
.choose--from ul li {
border:1px solid #989898;
    display: inline-block;
    text-align: center;
    background: #fff;
    width: 140px;
    font-size: 18px;
    color: #989898;
    padding: 4px 16px;
    margin-right: 15px;
}
.choose--from ul  {
    
    text-align: center;
}
.data-settings {
    width: 30%;
    position: relative;
    text-align: center;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
  padding-top: 33px;
}
.data-settings h5 {
    color: #6E6E6E;
    font-size: 33px;
    font-weight: 700;
    margin: 0;
}
.data-settings img {
    max-width: 300px;
    margin: auto;
}
.data-settings h6 {
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    margin: 17px 0;
    letter-spacing: 1px;
}
.data-settings h2 {
margin: 0;
font-size: 29px;
    color: #000;
}
p.sale---price {
   
    font-weight: 800;
    font-size: 20px;
    margin: 0;
}
.sale---price .money
{
   text-decoration: line-through;
}
p.yousave {
    font-weight: 800;
    font-size: 20px;
    margin: 0;
}
div#shopify-section-product--tab-select .data-settings p.shipday {
   
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #000;
       margin: 8px 0 5px;
}
  .tab--selction	span {cursor:pointer; }
		
  .tab--selction .number {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
		.tab--selction .minus,.tab--selction .plus{
   width: 30px;
    height: 33px;
    background: #f2f2f2;
    border-radius: 0;
    padding: 8px 5px 8px 5px;
  
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
       font-size: 16px;
    font-family: 'Work Sans';
		}
.tab--selction .minus{
background: #F8F8F8;
border-radius: 5px 0px 0px 5px;

}
.tab--selction span.plus {
    background: #F8F8F8;
    border-radius: 0px 5px 5px 0px;
}
.buynow-btn span.plus::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 60%;
    left: 0;
    background: #ddd;
    margin: auto;
}
.tab--selction input{
	height: 41px;
    width: 51px;
    text-align: center;
    font-size: 19px;    
    border-radius: 0;
    background: #F8F8F8;
    display: inline-block;
    vertical-align: middle;
    border-left: none;
    border-right: none;
    border: none;
    font-weight: bold;
  }
	.buynow-btn	span.minus::after {
    position: absolute;
    content: '';
    width: 1px;
    height: 60%;
    right: 0;
    background: #ddd;
    margin: auto;
}	
  .buynow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    padding-bottom: 39px;
}
  .buynow-btn button {
    background: #000000;
    border: none;
    height: 41px;
    width: 175px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: center;
    font-size: 17px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
  .tab--data {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 58px;
    margin-bottom: 46px;
}
  .tab--data.active{
  display:flex;
  }
  p.offer-mode {

    margin: 0;
    background: #086FB5;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    padding: 4px 10px;
    font-size: 14px;
}
  p.getoff {
    position: absolute;
    top: 39px;
    margin: 0;
    background: #086FB5;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    padding: 4px 24px;
    font-size: 13px;
}
div#shopify-section-product--tab-select .tab-top-img img {
    width: 100%;
}

/* product tab bar*/

div#shopify-section-product--tab-select .product--slct-tab h2 {
	color: #000;
	text-transform: inherit;
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 21px;
	letter-spacing: 1px;
}

div#shopify-section-product--tab-select h3 {
	font-weight: 400;
	text-transform: inherit;
	color: #000;
	font-size: 20px;
	padding: 0px 0 0;
}

div#shopify-section-product--tab-select .product--slct-tab h4 {
	color: #000000;
	text-align: center;
	font-size: 21px;
	font-weight: 500;
}
div#shopify-section-product--tab-select .choose--from ul {
    text-align: center;
    border: 1px solid #E5E5E5;
    width: 72%;
    margin: 0 auto;
    background: #F8F8F8;
    padding: 12px 0;
    border-radius: 10px;
}
div#shopify-section-product--tab-select .choose--from ul li {
    border-radius: 4px;
    border: none;
    color: #086fb5;
    font-family: Work Sans,sans-serif;
    width: 47%;
    background: none;
    padding: 16px 0 13px;
    font-size: 23px;
    cursor: pointer;
    font-weight: 500;
    position: relative;
}
div#shopify-section-product--tab-select .choose--from ul li span {
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0.03em;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    position: absolute;
    top: 11px;
    left: -13px;
}
div#shopify-section-product--tab-select .choose--from ul li.one span {
    left: -22px;
}
div#shopify-section-product--tab-select .choose--from ul li.active span {
    color: white;
}
div#shopify-section-product--tab-select .choose--from ul li.active {
	background: #086FB5;
	color: #fff;
}
div#shopify-section-product--tab-select .choose--from ul li svg {
    fill: #086FB5;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-top: -7px;
}
div#shopify-section-product--tab-select .choose--from ul li.active svg {
    fill: white;
}
div#shopify-section-product-tab-slider .section-header {
    margin-bottom: 40px;
}
div#shopify-section-product-tab-slider .chart-area .button-tabs ul {
    margin-bottom: 70px;
}


div#shopify-section-product--tab-select .data-settings h5 {
	color: #000000;
    font-size: 31px;
}

div#shopify-section-product--tab-select .data-settings h6,
div#shopify-section-product--tab-select .data-settings p.shipday {
	letter-spacing: 0;
	font-size: 14px;
	margin: 0 0 4px 0;
}
div#shopify-section-product--tab-select .tab--selction .data-settings p.shipday{
    font-size: 13px;
    letter-spacing: 0px;
    font-weight: 500;
    position: relative;
    margin: 0px 0 0 25px;
 }
div#shopify-section-product--tab-select .tab--selction .data-settings p.shipday:before {
    position: absolute;
    content: "";
    background: url(https://cdn.shopify.com/s/files/1/0249/8949/9437/files/carbon_delivery-parcel.png?v=1652207846);
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    left: -28px;
    top: 0px;
}

div#shopify-section-product--tab-select .star--rating{
	justify-content: left;
	margin-top: 3px;
}
div#shopify-section-product--tab-select .data-settings .buynow-btn {
	justify-content: left;
	margin-top: 5px;
}


div#shopify-section-product--tab-select .data-settings .buynow-btn button {
	background: #000000;
	border-radius: 5px;
    text-transform: capitalize;
}
body.Wireless.Camera.V3S div#shopify-section-product--tab-select .data-settings .buynow-btn button {
    background: #086fb5;
}
div#shopify-section-product--tab-select .data-settings {
    text-align: left;
    padding: 0 30px;
    box-shadow: none;
    border: 1px solid #e5e5e5;
    width: 34%;
}
div#shopify-section-product--tab-select .tab--selction .data-settings:hover {
    box-shadow: 0 3px 28px rgb(110 108 108 / 23%);
}
div#shopify-section-product--tab-select .data-settings h2 {
	color: #086FB5;
	font-size: 34px;
	width: 100%;
	display: inline-block;
	margin-bottom: 0;
    margin-top: 0px;
    text-align: left;
}

div#shopify-section-product--tab-select .data-settings p.sale---price {
	width: 100%;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #878686;
    position: relative;
    top: -5px;
}
div#shopify-section-product--tab-select .tab--selction .data-settings .star--rating span {
    font-family: Work Sans,sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}
div#shopify-section-product--tab-select .data-settings p.yousave {
	font-weight: 500;
	font-size: 18px;
}
div#shopify-section-product--tab-select .data-settings .buynow-btn {
    padding-bottom: 20px;
}
div#shopify-section-product--tab-select .money_guarantee {
    display: flex;
    padding-bottom: 18px;
  flex-wrap:wrap;
}
div#shopify-section-product--tab-select .money_guarantee .left_side, div#shopify-section-product--tab-select .money_guarantee .right_side {
    width: 50%;
    margin-bottom: 10px;
}
div#shopify-section-product--tab-select .money_guarantee span.icon {
    display: table-cell;
}
div#shopify-section-product--tab-select .money_guarantee svg {
    width: 17px;
    height: 17px;
    margin-right: 4px;
}
div#shopify-section-product--tab-select .money_guarantee span.text {
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    display: table-cell;
    vertical-align: middle;
}
div#shopify-section-product--tab-select .money_guarantee .right_side span.text {
    position: relative;
    top: 0px;
}
div#shopify-section-product--tab-select .tab-top-img {
    margin-top: -104px;
       width: 100%;
}
div#shopify-section-product--tab-select .tab-top-text {
    position: relative;
    padding-bottom: 50px;
}
div#shopify-section-product--tab-select .choose--from {
    margin-top: 0px;
}
div#shopify-section-product--tab-select .tab-top-img, 
div#shopify-section-product--tab-select .desktop_view .tab--desktop-text {
    display: none;
}
.product--slct-tab {
	padding-top: 30px;
}


div#shopify-section-product--tab-select .data-settings p.offer-mode {
	border-radius: 5px;
    background: #E60D27;
    width: fit-content;
    margin-bottom: 17px;
    padding: 7px 20px 7px 15px;
    display: flex;
    align-items: center;
}
div#shopify-section-product--tab-select .data-settings p.offer-mode svg {
    position: relative;
    margin-right: 4px;
}
div#shopify-section-product--tab-select .data-settings p.offer-mode span.countdown {
    position: relative;
    font-family: Work Sans,sans-serif;
    font-size: 13px;
    left: 3px;
}
div#shopify-section-product--tab-select .data-settings img {
    padding: 0;
    max-width: 100%;
    height: 250px;
    object-fit: contain;
}

div#shopify-section-product--tab-select .data-settings p.getoff {
	background: #000;
	top: 30px;
	border-radius: 25px;
}


div#shopify-section-product--tab-select .product--slct-tab h2 span {
    font-family: Work Sans;
}

div#shopify-section-product--tab-select .tab--selction .data-settings .star--rating {
    display: flex;
}
div#shopify-section-product--tab-select .tab--selction .data-settings .star--rating .rating--nmbrs {
    margin-left: 5px;
    margin-top: 0px;
    font-size: 16px;
}
div#shopify-section-product--tab-select .tab--selction .minus, 
div#shopify-section-product--tab-select .tab--selction .plus {
    font-weight: 700;
}
div#shopify-section-product--tab-select .tab--selction .minus,
div#shopify-section-product--tab-select .tab--selction .plus {
    width: 41px;
    height: 41px;
    font-size: 17px;
}
div#shopify-section-product--tab-select .desktop_view {
    position: relative;
}
div#shopify-section-product--tab-select .desktop_view .tab--desktop-text {
    position: absolute;
    top: 56%;
    left: 53%;
    transform: translate(-52%,-62%);
    -webkit-transform: translate(-52%,-62%);
    text-align: center;
}
div#shopify-section-product--tab-select .desktop_view .tab--desktop-text h5 {
    margin-bottom: 0;
    color: #fff;
    font-family: Work Sans;
    font-size: 1.042vw;
    font-weight: 600;
    line-height: 1.563vw;
    letter-spacing: .5px;
    text-align: center;
    margin: 0;
}
div#shopify-section-product--tab-select .desktop_view .tab--desktop-text h2 {
    color: #fff;
    font-size: 2.813vw;
    line-height: 2.604vw;
    margin: 0;
}
div#shopify-section-product--tab-select .mobile_version_tab {
    display: none;
}
div#shopify-section-product--tab-select .tab--data {
    padding-bottom: 50px;
}
div#shopify-section-product--tab-select .choose--from ul li span {
    display: none;
}
div#shopify-section-product--tab-select .tab--data.wifi .only-wifi {
    display: none;
}
div#shopify-section-product--tab-select .money_guarantee .Unbeatable-Battery {
    display: none;
}
body.Wireless.Camera.V3S div#shopify-section-product--tab-select .tab--data.g4g .data-settings p.offer-mode {
    display: none;
}
@media only screen and (min-width: 768px){
div#shopify-section-grid-box .image-bar.image-bar {
    min-height: 400px;
}
#shopify-section-grid-box .image-bar__item:hover {
    box-shadow: 0 3px 24px #0000001c;
    min-height: auto;
    padding-bottom: 66px;
}
#shopify-section-grid-box .image-bar__item p {
    display: none;
}
#shopify-section-grid-box .image-bar__item:hover p {
    display: block;
    margin-bottom: 0;
}
#shopify-section-grid-box .image-bar__item {
    min-height: auto;
}
}
@media only screen and (min-width: 1450px){
div#shopify-section-product--tab-select .money_guarantee .left_side {
    width: 57%;
}
div#shopify-section-product--tab-select .money_guarantee .right_side {
    width: 43%;
}
div#shopify-section-product--tab-select .data-settings {
    width: 34%;
    padding: 0 30px;
}
div#shopify-section-product--tab-select .money_guarantee span.text {
    vertical-align: top;
    position: relative;
    top: 2px !important;
}
}
@media only screen and (min-width: 1600px){
div#shopify-section-product--tab-select .data-settings {
    padding: 0 40px;
}
}

@media only screen and (max-width: 767px){
div#shopify-section-product--tab-select .desktop_view {
    display: none;
}
div#shopify-section-product--tab-select .mobile_version_tab {
    display: block;
    background: linear-gradient(180deg,#F8F8F8 0%,rgba(196,196,196,0) 100%);
    margin-top: 60px;
    padding-bottom: 45px;
}
div#shopify-section-product--tab-select .mobile_version_tab .tab-mobile-img {
    position: relative;
    padding: 60px 0;
}

div#shopify-section-product--tab-select .mobile_version_tab .tab-mobile-img img {
    bottom: -122px;
    width: 316px;
    position: absolute;
    right: -84px;
}
div#shopify-section-product--tab-select .tab--mobile-text {
    margin-top: -70px;
}
div#shopify-section-product--tab-select .mobile_version_tab h5 {
    color: #000;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: .5px;
    text-align: left;
    margin-bottom: 2px;
}
div#shopify-section-product--tab-select .mobile_version_tab .tab-mobile-img:before {
    position: absolute;
    content: "";
    top: 101px;
    right: 6px;
    width: 408px;
    height: 726px;
    background: url(https://cdn.shopify.com/s/files/1/0249/8949/9437/files/Vector_36.png?v=1652964663);
    background-repeat: no-repeat;
}
div#shopify-section-product--tab-select .mobile_version_tab h2 {
    font-family: Work Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
}
div#shopify-section-product--tab-select .mobile_version_tab .tab-mobile-img2 img {
    width: 100%;
}
div#shopify-section-product--tab-select .mobile_version_tab .page-width {
    position: relative;
    z-index: 1;
}
div#shopify-section-product--tab-select .money_guarantee {
    padding-bottom: 15px;
}
div#shopify-section-product--tab-select .money_guarantee .left_side, 
div#shopify-section-product--tab-select .money_guarantee .right_side {
    width: 100%;
}
}
@media only screen and (max-width: 400px){
div#shopify-section-product--tab-select .mobile_version_tab .tab-mobile-img:before {
    position: absolute;
    content: "";
    top: 101px;
    right: 6px;
    width: 394px;
}
div#shopify-section-product--tab-select .mobile_version_tab .tab-mobile-img img {
    bottom: -90px;
    width: 261px;
    right: -79px;
}
 
}
                     /*------custom css end-----*/