body.Wireless.Camera.V3S div#wirless_top_v3v3s:before {
    visibility: hidden;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .wirless_v3_inner {
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 25px;
}

body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid {
    padding-top: 81px;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid .main-new-v3sinner {
    width: 31%;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid .new-v3s-sec {
    display: flex;
    gap: 15px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid .new-v3s-sec .right-v3s-newsec h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0em;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid .new-v3s-sec .right-v3s-newsec p {
    color: white;
    font-size: 16px;
}
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s h4.select-type.select-type-v3s {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-align: left;
    padding-bottom: 10px;
    color: #7C8E9C;
    text-transform: uppercase;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid .new-v3s-sec .right-v3s-newsec p {
    color: #ADBBC7;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .wirless_v3_right img.wireless_media {
    min-height: 450px;
    height: 430px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .star--rating {
    left: 0;
    top: 0;
    padding: 0 0 15px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .star--rating .loox-rating .loox-rating-content {
    gap: 8px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .star--rating .loox-rating .loox-icon {
    color: #FFA114;
    width: 17px;
    height: 17px;
}
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .star--rating span {
    font-size: 16px;
    margin-left: 21px;
}
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .star--rating span.loox-rating-label {
    position: relative;
    top: 1px;
    left: 2px;
}
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s span.statyc--rating.rating-v3s {
    right: 84px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 button.btn.product-form__cart-submit {
    margin-top: 45px;
    margin-bottom: 20px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .shipping--messages {
    justify-content: left;
    padding-left: 10px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .product__price.custom .sale--price span.money {
    font-size: 24px;
    font-weight: 400;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .product__price.custom .sale--price {
    top: 0;
}
body.Wireless.Camera.V3S  .wirless_outer_v3.wirless_extra_v3s ul.custom--variations li.active {
    background: #B4CCDC;
    color: #162229;
}
@media only screen and (min-width: 1300px){
body.Wireless.Camera.V3S .wirless_outer_v3 .wirless_v3-left {
    padding-right: 65px;
    width: 50%;
    top: 15px;
}
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .wirless_v3_right img.wireless_media{
  top:0;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .wirless_v3_right {
    width: 45%;
}
}
@media only screen and (min-width: 1450px){
body.Wireless.Camera.V3S .wirless_outer_v3 .wirless_v3-left {
    padding-right: 0;
    width: 35%;
    top: 0;
    left: 0;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .wirless_v3_right {
    width: 35%;
}
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .wirless_v3_right img.wireless_media {
    min-height: 400px;
    height: 385px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid {
    width: 30%;
    display: inline-block;
    padding-top: 0;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid .main-new-v3sinner {
    width: 100%;
}
}
  
@media only screen and (max-width: 1199px){
body.Wireless.Camera.V3S .wirless_outer_v3 .wirless_v3_right img.wireless_media {
    height: 430px;
    top: 0;
    left: 20px;
}
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .star--rating span.loox-rating-label {
    top: 2px;
}
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s {
    padding-top: 25px;
    padding-bottom: 25px;
}
}
@media only screen and (max-width: 991px){
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .wirless_v3_right img.wireless_media {
    height: 330px;
    top: 25px;
    left: 47px;
    min-height: 350px;
}

}
@media only screen and (max-width: 767px){
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .wirless_v3_right img.wireless_media {
    left: -7px;
    height: 295px;
}
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .wirless_v3-left h2, 
 body.Wireless.Camera.V3S  .wirless_outer_v3.wirless_extra_v3s ul.custom--variations li, 
 body.Wireless.Camera.V3S  .wirless_outer_v3.wirless_extra_v3s .product__price.custom .regular--price span.money, 
  body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .star--rating span,
  body.Wireless.Camera.V3S  .wirless_outer_v3.wirless_extra_v3s .shipping--messages p{
    color: white;
}
body.Wireless.Camera.V3S .wirless_outer_v3:before {
    height: 100%;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .wirless_v3_right {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px 0 12px;
}
 body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .sezzle-shopify-info-button .sezzle-button-text {
    color: #fff!important;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .wirless_v3_right.mobile_version {
    display: none;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid {
    padding-top: 15px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid .main-new-v3sinner {
    width: 48%;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .product__price_rating{
    justify-content: left;
    left: 0;
}
body.Wireless.Camera.V3S .wirless_outer_v3 ul.custom--variations {
     justify-content: left;
      margin-top: 6px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 button.btn.product-form__cart-submit {
    margin-top: 15px;
    margin-bottom: 15px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .product__price.custom {
    padding-top: 20px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .sezzle-shopify-info-button {
    top: 60px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .wirless_v3_inner {
    padding-top: 25px;
    padding-bottom: 20px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .wirless_v3-left,
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .wirless_v3-left h2{
    text-align: left;
}
body.Wireless.Camera.V3S .wirless_outer_v3 button.btn.product-form__cart-submit {
    max-width: 375px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .shipping--messages {
    justify-content: center;
    max-width: 375px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .product__price.custom .sale--price {
    right: 0;
}
body.Wireless.Camera.V3S div#shopify-section-wireless-generation-sec .left-wire_gen h2 {
    padding-top: 25px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .product__price.custom .regular--price {
    margin-right: 0;
}
}
@media only screen and (max-width: 481px){
body.Wireless.Camera.V3S .wirless_outer_v3.wirless_extra_v3s .wirless_v3_right img.wireless_media {
    min-height: 279px!important;
    height: 277px;
}
body.Wireless.Camera.V3S .wirless_outer_v3 .rihgt--ara-grid .main-new-v3sinner {
    width: 100%;
}
}