.pt-120 {
  padding-top: 120px;
}
.pb-120 {
  padding-bottom: 120px;
}
span.money1 {
  position: relative;
}

span.saveamount {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #8c8c8c;
  background-image: url(//cdn.shopify.com/s/files/1/0249/8949/9437/t/71/assets/price-writen.png?v=5291576…);
  min-width: 56px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left;
  text-align: center;
  background-size: 100%;
  margin-left: 5px;
}
div#shopify-section-product--tab-select .choose--from {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}
.section-ti {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  text-align: center;
  color: #182127;
  margin-bottom: 15px;
}
.section-cont {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #4f5960;
}
.choose--from {
  display: flex;
}
.choose--from h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  color: #182127;
  min-width: 240px;
}
div#shopify-section-product--tab-select {
  background: linear-gradient(101.36deg, #eef4f5 0%, #e1f3ff 176.83%);
}
.data-settings img {
  margin-bottom: 40px;
}
.product__price.custom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 8px;
}
.product__price.custom .regular--price {
  letter-spacing: 0em;
  margin-right: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #086fb5;
}
.product__price.custom .regular--price span.money {
  margin-right: 15px;
}
.product__price.custom .sale--price span.money {
  font-style: normal;
  text-decoration: line-through;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-decoration-line: line-through;
  color: #76a2c0;
}
.sale--price.gh.money {
  display: flex;
}
.product__price.custom .sale--price span.money1 {
  position: relative;
  white-space: nowrap;
  padding-left: 6px;
}
span.money,
span.money1 {
  font-family: Jost, sans-serif;
}
span.money1 {
  color: red;
  font-weight: 700;
}
p.set-price {
  position: absolute;
  top: 11px;
  left: 16px;
}

/* ma style end */
.rating--nmbrs {
  font-size: 19px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: 600;
}

.product--slct-tab h2 {
}
.product--slct-tab h3 {
}
.product--slct-tab h4 {
  color: #6e6e6e;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
}
.choose--from ul li.active {
  background: #989898;
  color: #fff;
  border: 1px solid #fff;
}
.choose--from ul li {
  border: 1px solid #989898;
  display: inline-block;
  text-align: center;
  background: #fff;
  width: 140px;
  font-size: 18px;
  color: #086fb5;
  padding: 4px 16px;
}
.choose--from ul {
  text-align: center;
}
.data-settings {
  width: 30%;
  position: relative;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding-top: 33px;
}
.data-settings h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #182127;
}
.data-settings img {
  max-width: 300px;
  margin: auto;
}
.data-settings h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #4f5960;
  margin-bottom: 20px;
}
.data-settings h2 {
  margin: 0;
  font-size: 29px;
  color: #086fb5;
}
p.sale---price {
  font-weight: 800;
  font-size: 20px;
  margin: 0;
}
.sale---price .money {
  text-decoration: line-through;
}
p.yousave {
  font-weight: 800;
  font-size: 20px;
  margin: 0;
}
div#shopify-section-product--tab-select .data-settings p.shipday {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #086fb5;
  margin: 8px 0 5px;
}
.tab--selction span {
  cursor: pointer;
}

.tab--selction .number {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab--selction .minus,
.tab--selction .plus {
  width: 30px;
  height: 33px;
  background: #f2f2f2;
  border-radius: 0;
  padding: 8px 5px 8px 5px;

  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 16px;
}
.tab--selction .minus {
  background: #eef4f5;
  border-radius: 50px 0px 0px 50px;
}
.tab--selction span.plus {
  background: #eef4f5;
  border-radius: 0px 50px 50px 0px;
}
.buynow-btn span.plus::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 60%;
  left: 0;
  background: #ddd;
  margin: auto;
}
.tab--selction input {
  height: 41px;
  width: 51px;
  text-align: center;
  font-size: 19px;
  border-radius: 0;
  background: #eef4f5;
  display: inline-block;
  vertical-align: middle;
  border-left: none;
  border-right: none;
  border: none;
  font-weight: bold;
}
.buynow-btn span.minus::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 60%;
  right: 0;
  background: #ddd;
  margin: auto;
}
.buynow-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  padding-bottom: 39px;
}
.buynow-btn button {
  background: #000000;
  border: none;
  height: 41px;
  width: 175px;
  font-weight: 600;
  text-transform: uppercase;
  justify-content: center;
  font-size: 17px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.tab--data {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;
  margin-bottom: 46px;
}
.tab--data.active {
  display: flex;
}
p.offer-mode {
  margin: 0;
  background: #086fb5;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  padding: 4px 10px;
  font-size: 14px;
}
p.getoff {
  position: absolute;
  top: 39px;
  margin: 0;
  background: #086fb5;
  border-radius: 0px 10px 10px 0px;
  color: #fff;
  padding: 4px 24px;
  font-size: 13px;
}
div#shopify-section-product--tab-select .tab-top-img img {
  width: 100%;
}

/* product tab bar*/

div#shopify-section-product--tab-select .product--slct-tab h4 {
  color: #000000;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
}
div#shopify-section-product--tab-select .choose--from ul {
  text-align: right;
  width: 100%;
  margin: 0 auto;
}
div#shopify-section-product--tab-select .choose--from ul li {
  padding: 16px 0 13px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  max-width: 173px;
  background: rgb(8 111 181 / 10%);
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  border: none;
}
div#shopify-section-product--tab-select .choose--from ul li span {
  font-size: 12px;
  font-weight: 700;
  line-height: 11px;
  letter-spacing: 0.03em;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #086fb5;
  text-transform: uppercase;
  position: absolute;
  top: 11px;
  left: -13px;
}
div#shopify-section-product--tab-select .choose--from ul li.one span {
  left: -22px;
}
div#shopify-section-product--tab-select .choose--from ul li.active span {
  color: white;
}
div#shopify-section-product--tab-select .choose--from ul li.active {
  background: #086fb5;
  color: #fff;
}
div#shopify-section-product--tab-select .choose--from ul li svg {
  fill: #086fb5;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-top: -7px;
}
div#shopify-section-product--tab-select .choose--from ul li.active svg {
  fill: white;
}
div#shopify-section-product-tab-slider .section-header {
  margin-bottom: 40px;
}
div#shopify-section-product-tab-slider .chart-area .button-tabs ul {
  margin-bottom: 70px;
}

div#shopify-section-product--tab-select .data-settings h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #182127;
}

div#shopify-section-product--tab-select .data-settings h6,
div#shopify-section-product--tab-select .data-settings p.shipday {
  letter-spacing: 0;
  font-size: 14px;
  margin: 0 0 4px 0;
}
div#shopify-section-product--tab-select
  .tab--selction
  .data-settings
  p.shipday {
  font-size: 13px;
  letter-spacing: 0px;
  font-weight: 500;
  position: relative;
  margin: 0px 0 0 25px;
}

div#shopify-section-product--tab-select .star--rating {
  justify-content: center;
  margin-bottom: 10px;
}
div#shopify-section-product--tab-select .data-settings .buynow-btn {
  justify-content: center;
}

div#shopify-section-product--tab-select .data-settings .buynow-btn button {
  text-transform: capitalize;
  background-color: #086fb5;
  border-radius: 8px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  padding: 16px 40px;
  width: 100%;
  background-image: url(button-arrow.png);
  background-repeat: no-repeat;
  background-position: 157px 23px;
  text-indent: -29px;
  transition: all 0.2s;
  max-width: 220px;
  height: 54px;
}
div#shopify-section-product--tab-select
  .data-settings
  .buynow-btn
  button:hover {
  color: #086fb5;
  background: #e1f3ff;
  background-image: url(buttonarrow-hover.png);
  background-position: 157px 23px;
  text-indent: -29px;
  background-repeat: no-repeat;
}
div#shopify-section-product--tab-select .data-settings {
  text-align: center;
  padding: 0 30px;
  box-shadow: none;
  border: 1px solid #e5e5e5;
  width: 470px;
  max-width: 100%;
}
div#shopify-section-product--tab-select .tab--selction .data-settings:hover {
  box-shadow: 0 3px 28px rgb(110 108 108 / 23%);
}
div#shopify-section-product--tab-select .data-settings h2 {
  color: #086fb5;
  font-size: 34px;
  width: fit-content;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0px;
}
p.shipday-custome {
  margin-bottom: 30px;
}
div#shopify-section-product--tab-select .data-settings p.sale---price {
  width: fit-content;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #878686;
  position: relative;
  top: -5px;
}
div#shopify-section-product--tab-select
  .tab--selction
  .data-settings
  .star--rating
  span {
  font-weight: 600;
  font-size: 16px;
  color: #086fb5;
}
div#shopify-section-product--tab-select .data-settings p.yousave {
  font-weight: 500;
  font-size: 18px;
}
.price-item {
  margin-top: 20px;
}
div#shopify-section-product--tab-select .data-settings .buynow-btn {
  padding-bottom: 20px;
}
div#shopify-section-product--tab-select .money_guarantee {
  display: flex;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div#shopify-section-product--tab-select .money_guarantee .left_side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.div#shopify-section-product--tab-select .money_guarantee .right_side {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

div#shopify-section-product--tab-select .money_guarantee span.text {
  letter-spacing: 0em;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #4f5960;
}

div#shopify-section-product--tab-select .tab-top-img {
  margin-top: -104px;
  width: 100%;
}
div#shopify-section-product--tab-select .tab-top-text {
  position: relative;
  padding-bottom: 50px;
}
div#shopify-section-product--tab-select .choose--from {
  margin-top: 0px;
  align-items: center;
}
div#shopify-section-product--tab-select .tab-top-img,
div#shopify-section-product--tab-select .desktop_view .tab--desktop-text {
  display: none;
}
.product--slct-tab {
  padding-top: 30px;
}

div#shopify-section-product--tab-select .data-settings p.offer-mode {
  border-radius: 5px;
  background: #e60d27;
  width: fit-content;
  margin-bottom: 17px;
  padding: 7px 20px 7px 15px;
  display: inline-block;
  align-items: center;
}
div#shopify-section-product--tab-select .data-settings p.offer-mode svg {
  position: relative;
  margin-right: 4px;
}
div#shopify-section-product--tab-select
  .data-settings
  p.offer-mode
  span.countdown {
  position: relative;

  font-size: 13px;
  left: 3px;
}
div#shopify-section-product--tab-select .data-settings img {
  padding: 0;
  max-width: 100%;

  object-fit: contain;
}

div#shopify-section-product--tab-select .data-settings p.getoff {
  background: #000;
  top: 30px;
  border-radius: 25px;
}

div#shopify-section-product--tab-select .product--slct-tab h2 span {
}

div#shopify-section-product--tab-select
  .tab--selction
  .data-settings
  .star--rating {
  display: flex;
}
div#shopify-section-product--tab-select
  .tab--selction
  .data-settings
  .star--rating
  .rating--nmbrs {
  margin-left: 5px;
  margin-top: 0px;
  font-size: 16px;
}
div#shopify-section-product--tab-select .tab--selction .minus,
div#shopify-section-product--tab-select .tab--selction .plus {
  font-weight: 700;
}
div#shopify-section-product--tab-select .tab--selction .minus,
div#shopify-section-product--tab-select .tab--selction .plus {
  width: 41px;
  height: 41px;
  font-size: 17px;
  font-family: "Work Sans";
}
div#shopify-section-product--tab-select .desktop_view {
  position: relative;
}
div#shopify-section-product--tab-select .desktop_view .tab--desktop-text {
  position: absolute;
  top: 56%;
  left: 53%;
  transform: translate(-52%, -62%);
  -webkit-transform: translate(-52%, -62%);
  text-align: center;
}
div#shopify-section-product--tab-select .desktop_view .tab--desktop-text h5 {
  margin-bottom: 0;
  color: #fff;

  font-size: 1.042vw;
  font-weight: 600;
  line-height: 1.563vw;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 0;
}
div#shopify-section-product--tab-select .desktop_view .tab--desktop-text h2 {
  color: #fff;
  font-size: 2.813vw;
  line-height: 2.604vw;
  margin: 0;
}
div#shopify-section-product--tab-select .mobile_version_tab {
  display: none;
}
div#shopify-section-product--tab-select .tab--data {
  padding-bottom: 50px;
}
div#shopify-section-product--tab-select .choose--from ul li span {
  display: none;
}
@media only screen and (min-width: 768px) {
  div#shopify-section-grid-box .image-bar.image-bar {
    min-height: 400px;
  }
  #shopify-section-grid-box .image-bar__item:hover {
    box-shadow: 0 3px 24px #0000001c;
    min-height: auto;
    padding-bottom: 66px;
  }
  #shopify-section-grid-box .image-bar__item p {
    display: none;
  }
  #shopify-section-grid-box .image-bar__item:hover p {
    display: block;
    margin-bottom: 0;
  }
  #shopify-section-grid-box .image-bar__item {
    min-height: auto;
  }
}
@media only screen and (min-width: 1450px) {
  div#shopify-section-product--tab-select .money_guarantee .left_side {
    width: 57%;
  }
  div#shopify-section-product--tab-select .money_guarantee .right_side {
    width: 43%;
  }
  div#shopify-section-product--tab-select .data-settings {
    width: 34%;
    padding: 0 30px;
  }
  div#shopify-section-product--tab-select .money_guarantee span.text {
    vertical-align: top;
    position: relative;
    top: 5px !important;
  }
}
@media only screen and (min-width: 1600px) {
  div#shopify-section-product--tab-select .data-settings {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 767px) {
  div#shopify-section-product--tab-select .desktop_view {
    display: none;
  }
  div#shopify-section-product--tab-select .mobile_version_tab {
    display: block;
    background: linear-gradient(
      180deg,
      #f8f8f8 0%,
      rgba(196, 196, 196, 0) 100%
    );
    margin-top: 60px;
    padding-bottom: 45px;
  }
  div#shopify-section-product--tab-select .mobile_version_tab .tab-mobile-img {
    position: relative;
    padding: 60px 0;
  }

  div#shopify-section-product--tab-select
    .mobile_version_tab
    .tab-mobile-img
    img {
    bottom: -122px;
    width: 316px;
    position: absolute;
    right: -84px;
  }
  div#shopify-section-product--tab-select .tab--mobile-text {
    margin-top: -70px;
  }
  div#shopify-section-product--tab-select .mobile_version_tab h5 {
    color: #086fb5;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 2px;
  }
  div#shopify-section-product--tab-select
    .mobile_version_tab
    .tab-mobile-img:before {
    position: absolute;
    content: "";
    top: 101px;
    right: 6px;
    width: 408px;
    height: 726px;
    background: url(https://cdn.shopify.com/s/files/1/0249/8949/9437/files/Vector_36.png?v=1652964663);
    background-repeat: no-repeat;
  }
  div#shopify-section-product--tab-select .mobile_version_tab h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
  }
  div#shopify-section-product--tab-select
    .mobile_version_tab
    .tab-mobile-img2
    img {
    width: 100%;
  }
  div#shopify-section-product--tab-select .mobile_version_tab .page-width {
    position: relative;
    z-index: 1;
  }
}
@media only screen and (max-width: 400px) {
  div#shopify-section-product--tab-select
    .mobile_version_tab
    .tab-mobile-img:before {
    position: absolute;
    content: "";
    top: 101px;
    right: 6px;
    width: 394px;
  }
  div#shopify-section-product--tab-select
    .mobile_version_tab
    .tab-mobile-img
    img {
    bottom: -90px;
    width: 261px;
    right: -79px;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1300px) {
  span.card-text.fw-normal.fs-18.text-clr-dark3 {
    font-size: 14px !important;
  }
}
