div#shopify-section-anyeveryQ3 {
    text-align: center;
    padding: 100px 0 40px;
}
div#shopify-section-anyeveryQ3 h2 {
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}
div#shopify-section-anyeveryQ3 img.second-imgany {
    max-width: 700px;
}
div#shopify-section-anyeveryQ3 img.first-imgany {
    max-width: 450px;
    background-size: contain;
}
@media only screen and (max-width: 990px){
div#shopify-section-anyeveryQ3 img {
    width: 100%;
} 
}
@media only screen and (max-width: 767px){
div#shopify-section-anyeveryQ3 {
    text-align: center;
    padding: 0px 0 30px;
}
div#shopify-section-anyeveryQ3 h2 {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 0;
}
}